<style>
  #create_modal,#edit_modal{
    width: 500px;
    margin-left: -250px;
  }
  #create_modal .dropdown.selection,#edit_modal .dropdown.selection {
    width: 500px;
  }
  #upload_modal{
    width: 400px;
    margin-left: -200px;
  }
</style>

<div class="ui form">
  <div class="four fields">
    <div class="field">
      <label>角色</label>
      <select name="role" class="ui fluid dropdown" data-value="<%=role%>">
        <option value="all">全部角色</option>
        <%
          for (var i in roles) {
            var _roles = roles[i];
        %>
        <option value="<%=_roles['role_id']%>"><%=_roles['name']%></option>
            <%
        }
        %>
      </select>
    </div>
    <div class="field">
      <label>&nbsp;</label>
      <div class="ui positive submit button" onclick="search()">
        <i class="icon search"></i> 搜索
      </div>
    </div>
    <div class="field"></div>
    <div class="right floated field clearfix" style="width:400px;padding-top:25px">
      <button class="ui positive right floated button" onclick="create();">
        <i class="icon write"></i>
        添加管理员账号
      </button>
    </div>
  </div>
</div>

<div class="ui grey segment tablebox" style="box-shadow:0 0 0 0;">
  <table class="ui small very basic table">
    <thead>
      <tr>
        <th>用户名</th>
        <th>角色</th>
        <th width="100">创建时间</th>
        <th width="100"></th>
      </tr>
    </thead>
    <tbody>
      <%
        if (rows && rows.length > 0) {
        %>
        <%
          for (var i in rows) {
            var row = rows[i];
        %>
          <tr>
            <td>
              <%=row['username']%>
            </td>
            <td>
              <%
              var role_name = '';
              roles.forEach(function(role){
                if(row.role == role.role_id){
                  role_name = role.name;
                }
              });
              %>
              <%=role_name%>
            </td>
            <td>
              <%=common.format_date(row['created'], 'yyyy-MM-dd hh:mm:ss')%>
            </td>
            <td style="text-align:right;">
              <a href="javascript:;" onclick="init('<%=row['_id']%>');">初始化</a> &nbsp;&nbsp;
              <a href="javascript:;" onclick="edit('<%=row['_id']%>');">编辑</a> &nbsp;&nbsp;
              <a href="javascript:;" onclick="del('<%=row['_id']%>');">删除</a>
            </td>
          </tr>
          <%
          }
          %>
          <% } else { %>
          <tr>
            <td colspan="4" style="text-align:center;">暂无数据</td>
          </tr>
          <% } %>
    </tbody>
  </table>
</div>

<%-common.paging("/admins", "role="+role, totalPage, offset, limit, 5)%>

<div class="ui modal" id="create_modal">
  <i class="close icon"></i>
  <div class="tiny header">
    添加管理员账号
  </div>
  <div class="content">
    <form class="ui form" id="create_form">
      <div class="field">
        <label class="required_input">用户名</label>
        <div class="ui left input">
          <input type="text" id="username" />
        </div>
      </div>
      <div class="field">
        <label class="required_input">密码</label>
        <div class="ui left input">
          <input type="password" id="password" />
        </div>
      </div>
      <div class="field">
        <label class="required_input">角色</label>
        <div class="ui left input">
          <select id="role" class="ui fluid dropdown" >
            <%
            roles.forEach(function(role){
              %>
              <option value="<%=role.role_id%>"><%=role.name%></option>
              <%
            })
            %>
          </select>
        </div>
      </div>
    </form>
    <div class="ui hidden divider"></div>
  </div>
  <div class="actions">
    <div class="ui deny button">取消</div>
    <div class="ui positive right labeled icon button">保存<i class="checkmark icon"></i></div>
  </div>
</div>

<div class="ui modal" id="edit_modal">
  <i class="close icon"></i>
  <div class="tiny header">
    编辑管理员账号
  </div>
  <div class="content">
    <form class="ui form" id="edit_form">
      <input type="hidden" id="_id" />
      <div class="field">
        <label class="required_input">用户名</label>
        <div class="ui left input">
          <input type="text" id="username" />
        </div>
      </div>
      <div class="field">
        <label class="required_input">角色</label>
        <div class="ui left input">
          <select id="role" class="ui fluid dropdown" >
            <%
            roles.forEach(function(role){
              %>
              <option value="<%=role.role_id%>"><%=role.name%></option>
              <%
            })
            %>
          </select>
        </div>
      </div>
    </form>
    <div class="ui hidden divider"></div>
  </div>
  <div class="actions">
    <div class="ui deny button">取消</div>
    <div class="ui positive right labeled icon button">保存<i class="checkmark icon"></i></div>
  </div>
</div>

<script src="/js/ajaxfileupload.js"></script>

<script type="text/javascript">
  $(function() {
    //设置菜单为选中状态
    activeUrl();
    $('select[name="role"]').val("<%=role%>");
    $(".dropdown").dropdown();
  });

  function search(){
    location.href=encodeURI("?role="+$('select[name="role"]').val()+"&limit=<%=limit%>");
  }

  //初始化密码
  function init(id){
    swal({
        title: "确定要初始化该用户的密码吗",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: "put",
            url: "/admins/init/password/" + id,
            success: function(data) {
              if (data.code === '20000') {
                swal({
                    title: data.msg,
                    text: "",
                    type: "success",
                    confirmButtonText: "确定",
                  });
              }else{
                swal({
                    title: data.msg,
                    text: "",
                    type: "error",
                    confirmButtonText: "确定",
                  });
              }
            },
            error: function(err) {
              swal("初始化失败,请重试", "", "error");
            }
          });
      }
    });
  }

  $("#role", "#create_form").change(function(){
  })

  $("#role", "#edit_form").change(function(){
  })

  //创建应用
  function create() {
    $('#create_modal').modal({
      onApprove: function() {
        var username = $("#username", "#create_form").val();
        var password = $("#password", "#create_form").val();
        var role = $("#role", "#create_form").val();

        if (username == "") {
          swal("请填写用户名!", "", "warning");
          return false;
        }

        if (password == "") {
          swal("请填写密码!", "", "warning");
          return false;
        }

        if (role == "") {
          swal("请选择角色!", "", "warning");
          return false;
        }

        var params = {
          username: username,
          password: hex_md5(password),
          role: role
        };

        $.post("/admins", params, function(data, status) {
          if (status == "success") {
            swal({
                title: "操作成功",
                text: "",
                type: "success",
                confirmButtonText: "确定",
              },
              function() {
                setTimeout(function() {
                  location.reload();
                },330);
              });
          } else {
            swal(data, "", "error");
          }
        }).error(function(err) {
          swal(err.responseText, "", "error");
        });

        return false;
      }
    }).modal('show');
  }

  //编辑
  function edit(id){
    $.get("/admins/"+id, function(data, status) {
      if (status == "success") {
        $("#_id", "#edit_modal").val(data._id);
        $("#username", "#edit_modal").val(data.username);
        $("#role", "#edit_modal").dropdown("set selected",data.role);

        $('#edit_modal').modal({
          onApprove: function() {
            var _id = $("#_id", "#edit_modal").val();
            var username = $("#username", "#edit_form").val();
            var role = $("#role", "#edit_form").val();

            if (username == "") {
              swal("请填写用户名!", "", "warning");
              return false;
            }

            if (role == "") {
              swal("请选择角色!", "", "warning");
              return false;
            }

            var params = {
              username: username,
              role: role,
            };

            $.ajax({
              type: "put",
              url: "/admins/" + id,
              data: params,
              success: function(data) {},
              complete: function(XMLHttpRequest, status) {
                if (status == "success") {
                  swal({
                      title: "操作成功",
                      text: "",
                      type: "success",
                      confirmButtonText: "确定",
                    },
                    function() {
                      setTimeout(function() {
                        location.reload();
                      }, 330);
                    });
                }
              },
              error: function(err) {
                swal(err.responseText, "", "error");
              }
            });

            return false;
          }
        }).modal('show');
      } else {
        swal(data, "", "error");
      }
    });
  }

  //删除账号
  function del(id) {
    swal({
        title: "确定要删除吗",
        text: "",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        closeOnConfirm: false,
        closeOnCancel: true
      },
      function(isConfirm) {
        if (isConfirm) {
          $.ajax({
            type: "delete",
            url: "/admins/" + id,
            success: function(data) {},
            complete: function(XMLHttpRequest, status) {
              if (status == "success") {
                swal({
                    title: "操作成功",
                    text: "",
                    type: "success",
                    confirmButtonText: "确定",
                  },
                  function() {
                    setTimeout(function() {
                      location.reload();
                    }, 330);
                  });
              }
            },
            error: function(err) {
              swal(err.responseText, "", "error");
            }
          });
      }
    });
  }


</script>
